<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <title> 欢迎使用我这个web应用🧑‍🌾</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
    <!-- 最新的 Bootstrap5 核心 JavaScript 文件。bootstrap.bundle.js （未压缩版）或 bootstrap.bundle.min.js（压缩版） 包含了捆绑的插件如 popper.min.js 及其他依赖脚本 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>

    <!-- 引入作者的 CSS 文件-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <!-- 引入图标文件 -->
    <link rel="icon" href="{{ url_for('static', filename='myicon.ico') }}">
    {% endblock %}
</head>

<body>
    <!-- 插入到页面标题上方 -->
    <nav class="navbar navbar-expand-sm bg-success navbar-dark">
        <ul class="navbar-nav">
            <h1 class="display-6">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('index') }}">首页</a>
                </li>
                {% if current_user.is_authenticated %}
                {% if current_user.username=='admin' %}
                {# 0号农户就是管理员，他可以使用“管理员看地区的功能” #}
                <li>
                    <a href="{{ url_for('settings') }}">更改您的信息</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('logout') }}">登出</a><!-- class="nav-link disabled" 这个标签无法被点击-->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('area_detail') }}">管理员看地区</a>
                </li>
                {% else %}
                {# 我不会“单页双登录”……也莫得办法 #}
                <li>
                    <a href="{{ url_for('settings') }}">更改您的信息</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('logout') }}">登出</a><!-- class="nav-link disabled" 这个标签无法被点击-->
                </li>
                {% endif %}
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">用户登录</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register') }}">注册</a>
                </li>
                {% endif %}
            </h1>
        </ul>
    </nav>
    <div class="mt-4 p-5 bg-secondary text-white rounded">
        <a align="center">
            <h1>新疆地区田间棉铃虫数量及其危害（信息）管理平台</h1>
            <h4>（统计 第一、二代棉铃虫数量，并计算 产量损失率 的 web “小”程序）</h4>
        </a>
    </div>
    <hr>
    <h2 align="center">
        <img alt="cotton" src="{{ url_for('static', filename='images/cotton.jpg') }}" height="40px">
        <abbr title="这是您注册的“称呼”，点击导航栏的“更改您的信息”以修改。">{{ NAME_USER }}</abbr> 您好
        <!-- 上一行的“user_info.name_user”要被改为 -->
    </h2>
    <!-- 插入到页面标题上方 -->
    {% for message in get_flashed_messages() %}
    <div class="alert">{{ message }}</div>
    {% endfor %}

    {% block content %}{% endblock %}

    <div class="container p-3 my-2 border">
        <footer class="blockquote-footer" align="left">
            参考: <br>
            姚举,李号宾,王伟,等. 喀什棉区第一、二代棉铃虫对棉花的复合危害和防治指标研究[J].新疆农业科学,2008,45(1):105-108.<br>
            千锋教育高教产品研发部编著. Python快乐编程 Web开发[M]. 北京：清华大学出版社, 2020.07.<br>
            <a href="https://helloflask.com/tutorial/">Flask 入门教程 使用 Python 和 Flask 开发你的第一个 Web 程序</a><br>
            <a href="https://www.runoob.com/bootstrap5/bootstrap5-tutorial.html">Bootstrap5 教程 | 菜鸟教程</a><br>
            <a href="https://www.csdn.net">CSDN - 专业开发者社区</a><br>
            <a href="https://stackoverflow.com">Stack Overflow - Where Developers Learn, Share, &amp; Build
                Careers</a><br>
            &copy;<a href="https://github.com/Rhylan2333">欢迎来我的 Github 逛逛</a><br>
        </footer>
        <a href="https://github.com/Rhylan2333/My_Big_data_minored_in_the_final_assignment_of_the_first_semester">
            本 web 应用的源码已上传至 Github</a>
    </div>
</body>

</html>